# Data-Pipelines ðŸ“Š

## Context and objectives

### The aim of this project is to build a data pipeline to enrich an existing public dataset. For this goal, multiple public datasets will be combined together with a database scrapped from a website.


#### As we all know, there is a growing tendency to purchase electric cars. Not only they are becoming popular but also governments are fostering it by providing aids for people to purchase electric cars.

#### This project goal is to democratize data about electric cars evolution and its enviromental and health impac, if any.


#### The chosen scrapped dataset was "World-most-polluted-countries" from iqair.com. The scrapped table provides historical data about the most polluted country and region ranking based on annual average PM2.5 concentration (Î¼g/mÂ³).

####  In order to enrich this dataset, 3 other indicators will be considered and added: 1) charging points around the world, 2) sales cars history, 3) EV stock share and 4) number of deaths by risk factor

The following hypotheses were formulated to guide the analysis:

- The more charging stations, the higher the sales.
- The higher stock share, the higher the sales.
- The higher the sales, the less deaths.
- The more sales, the less the pollution.

## Libraries

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import re
import numpy as np
import requests
from bs4 import BeautifulSoup

import warnings
warnings.filterwarnings('ignore')
from IPython.display import Image

In [4]:
url = "https://www.iqair.com/world-most-polluted-countries"

In [114]:
html= requests.get(url)
pd.set_option('display.max_rows', 10)

In [5]:
soup= BeautifulSoup(html.content, "html.parser")

In [7]:
results2=soup.find_all("span", attrs = {"class":"text-normal"})

In [38]:
    url = "https://www.iqair.com/world-most-polluted-countries"
    html = requests.get(url)
    soup = BeautifulSoup(html.content, "html.parser")
    results=soup.find_all("div", attrs = {"class": "inner-table"})
    pd.set_option('display.max_rows', None)
    df=pd.read_html(results[0].prettify())[0]
    df

,Rank,Country/Region,2022,2021,2020,2019,2018,Population
0,1,Chad,89.7,75.9,-,-,-,17179740
1,2,Iraq,80.1,49.7,-,39.6,-,43533592
2,3,Pakistan,70.9,66.8,59,65.8,74.3,231402117
3,4,Bahrain,66.6,49.8,39.7,46.8,59.8,1463265
4,5,Bangladesh,65.8,76.9,77.1,83.3,97.1,169356251
5,6,Burkina Faso,63.0,-,-,-,-,22100683
6,7,Kuwait,55.8,29.7,34,38.3,56,4250114
7,8,India,53.3,58.1,51.9,58.1,72.5,1407563842
8,9,Egypt,46.5,29.1,-,18,-,109262178
9,10,Tajikistan,46.0,59.4,30.9,-,-,9750064
10,11,United Arab Emirates,45.9,36,29.2,38.9,49.9,9365145
11,12,Sudan,44.6,44.1,-,-,-,45657202
12,13,Rwanda,44.0,-,-,-,-,13461888
13,14,Qatar,42.5,38.2,44.3,-,-,2688235
14,15,Saudi Arabia,41.5,32.7,23.3,22.1,-,35950396
15,16,Nepal,40.1,46,39.2,44.5,54.1,30034989
16,17,Uganda,39.6,27.6,26.1,29.1,40.8,45853778
17,18,Nigeria,36.9,34,-,21.4,44.8,213401323
18,19,Bosnia Herzegovina,33.6,27.8,40.6,34.6,40,3270943
19,20,Uzbekistan,33.5,42.8,29.9,41.2,34.3,34915100
20,21,Iran,32.5,30.3,27.2,24.3,25,87923432
21,22,Armenia,31.4,33.9,24.9,25.5,-,2790974
22,23,Ethiopia,31.3,23.9,14.7,20.1,27.1,120283026
23,24,Kyrgyzstan,31.1,50.8,43.5,33.2,-,6691800
24,25,China,30.6,32.6,34.7,39.1,41.2,1412360000
25,26,Indonesia,30.4,34.3,40.7,51.7,42,273753191
26,27,Ghana,30.2,25.9,26.9,30.3,-,32833031
27,28,Mongolia,29.5,33.1,46.6,62,58.5,3347782
28,29,Laos,27.6,21.5,22.4,23.1,-,7275556
29,30,Vietnam,27.2,24.7,28,34.1,32.9,97468029
30,31,North Macedonia,25.6,25.4,30.6,32.4,35.5,2065092
31,32,Gabon,25.0,-,-,-,-,2341179
32,33,Serbia,24.7,25.5,24.3,23.3,23.9,6834326
33,34,Zambia,24.6,-,-,-,-,19473125
34,35,Myanmar,24.3,25.9,29.4,31,-,53798084
35,36,Madagascar,23.7,21,20,-,-,28915653
36,37,Croatia,23.5,25.4,21.2,19.1,22.2,3899000
37,38,Peru,23.5,29.6,17.9,23.3,28,33715471
38,39,South Africa,23.4,22.7,18,21.6,-,59392255
39,40,Kazakhstan,23.0,31.1,21.9,23.6,29.8,19000988
40,41,Moldova,22.6,-,-,-,-,2615199
41,42,Ivory Coast,22.5,-,21.9,-,-,29389150
42,43,Chile,22.2,21.7,19.3,22.6,24.9,19493184
43,44,Turkmenistan,21.6,20.4,17,-,-,6341855
44,45,Turkey,21.1,20,18.7,20.6,21.9,84775404
45,46,Sri Lanka,20.7,17.4,22.4,25.2,32,22156000
46,47,Senegal,20.4,-,11.2,-,-,16876720
47,48,Syria,20.0,23,-,32.2,-,21324367
48,49,Mexico,19.5,19.3,18.9,20,20.3,126705138
49,50,Greece,19.0,19,18.4,22.5,-,10641221
50,51,Azerbaijan,18.9,17.6,-,-,-,10137750
51,52,Italy,18.9,15.2,18.5,17.1,14.9,59109668
52,53,Israel,18.8,18.7,16.9,20.8,18.6,9364000
53,54,Guatemala,18.6,19.5,19.2,20.2,-,17109746
54,55,Bulgaria,18.3,16.3,27.5,25.5,25.8,6877743
55,56,South Korea,18.3,19.1,19.5,24.8,24,51744876
56,57,Thailand,18.1,20.2,21.4,24.3,26.4,71601103
57,58,Algeria,17.8,20,20.2,21.2,-,44177969
58,59,Malaysia,17.7,19.4,15.6,19.4,-,33573874
59,60,Romania,17.2,15.3,15.8,18.3,18.6,19119880
60,61,Georgia,17.0,21,20.4,20.1,-,3708610
61,62,Poland,16.3,19.1,16.9,18.7,22.4,37747124
62,63,Colombia,15.7,14.1,15.6,14.6,13.9,51516562
63,64,Montenegro,15.7,35.2,26.1,-,-,619211
64,65,Cyprus,15.6,14.8,15.8,19.7,17.6,1244188
65,66,Democratic Republic of the Congo,15.5,-,-,32.1,-,95894118
66,67,Macao SAR,15.4,17,17.8,23.5,21.2,686607
67,68,Slovenia,15.1,13.3,-,-,-,2108079
68,69,Philippines,14.9,15.6,12.8,17.6,14.6,113880328
69,70,Kosovo,14.7,14.7,20,23.5,30.4,1786038
70,71,Slovakia,14.5,16,15.3,16.1,18.5,5447247
71,72,Hong Kong SAR,14.5,15.9,15.4,20.3,20.2,7413100
72,73,Albania,14.5,12.5,16,-,-,2811666
73,74,El Salvador,14.2,-,-,-,-,6314167
74,75,Czech Republic,13.4,13.9,12.3,14.4,20.2,10505772
75,76,Taiwan,13.4,16.2,15,17.2,18.5,23816775
76,77,Singapore,13.3,13.8,11.8,19,14.8,5453566
77,78,Lithuania,13.2,13.2,11.7,14.5,17.5,2800839
78,79,Guyana,12.6,-,-,-,-,804567
79,80,Hungary,12.6,15.5,14.3,14.6,16.8,9709891
80,81,Brazil,12.2,13.6,14.2,15.8,16.3,214326223
81,82,Malta,11.7,13.5,11.8,9.4,11,518536
82,83,Kenya,11.5,14.3,14.2,-,-,53005614
83,84,France,11.5,11.4,11.1,12.3,13.2,67749632
84,85,Uruguay,11.3,14.2,-,-,-,3426260
85,86,Russia,11.2,12.3,9.3,9.9,11.4,143449286
86,87,Netherlands,11.0,11.3,9.7,10.9,11.7,17533044
87,88,Germany,11.0,10.6,10.1,11,13,83196078
88,89,Spain,10.9,10.7,10.4,9.7,10.3,47415750
89,90,Maldives,10.9,-,-,-,-,521457
90,91,Belgium,10.8,11.5,8.9,12.5,13.5,11592952
91,92,Austria,10.6,11.4,10.9,12.2,15,8955797
92,93,Honduras,10.2,11.8,-,-,-,10278345
93,94,Latvia,10.1,-,11.3,13.3,-,1884490
94,95,Switzerland,10.0,10.8,9,10.9,11.6,8703405
95,96,Ukraine,9.7,18.5,19.2,16.6,14,43792855
96,97,Japan,9.1,9.1,9.8,11.4,12,125681593
97,98,Panama,9.0,-,-,-,-,4351267
98,99,USA,8.9,10.3,9.6,9,9.1,331893745
99,100,Nicaragua,8.9,-,-,-,-,6850540
100,101,United Kingdom,8.9,8.8,8.3,10.5,10.8,67326569
101,102,Angola,8.8,11,13,15.9,-,34503774
102,103,Denmark,8.6,9.6,9.4,9.6,-,5856733
103,104,Cambodia,8.3,19.8,21.1,21.1,20.1,16589023
104,105,Liechtenstein,8.3,7.2,-,-,-,39039
105,106,Portugal,8.1,7.1,9.1,9.3,9.4,10325147
106,107,Costa Rica,7.9,7.8,8.2,10.4,-,5153957
107,108,Argentina,7.7,8.2,14.2,14.6,-,45808747
108,109,Ireland,7.5,8,8.6,10.6,9.5,5033165
109,110,Luxembourg,7.4,9,9,9.6,11.2,640064
110,111,Canada,7.4,8.5,7.3,7.7,7.9,38246108
111,112,Bolivia,7.3,-,-,-,-,12079472
112,113,Suriname,7.0,-,-,-,-,612985
113,114,Norway,7.0,7.5,5.7,6.9,7.6,5408320
114,115,Sweden,6.2,6.6,5,6.6,7.4,10415811
115,116,Belize,5.6,-,-,-,-,400031
116,117,Andorra,5.4,7.3,7.4,-,-,79034
117,118,Trinidad and Tobago,5.1,7.1,-,-,-,1525663
118,119,Finland,5.0,5.5,5,5.6,6.6,5541017
119,120,Estonia,4.9,5.9,5.9,6.2,7.2,1330932
120,121,New Zealand,4.8,6.8,7,7.5,7.7,5122600
121,122,Puerto Rico,4.3,4.8,3.7,10.2,13.7,3263584
122,123,Australia,4.2,5.7,7.6,8,6.8,25688079
123,124,Grenada,3.8,5.5,-,-,-,124610
124,125,New Caledonia,3.5,3.8,3.7,-,-,271030
125,126,Iceland,3.4,6.1,7.2,5.5,5,372520
126,127,"Bonaire, Saint Eustatius and Saba",3.3,5.1,-,-,-,26221
127,128,Bermuda,3.0,-,-,-,-,63867
128,129,U.S. Virgin Islands,2.9,4.5,3.7,3.5,-,105870
129,130,French Polynesia,2.5,-,-,-,-,304032
130,131,Guam,1.3,-,-,-,-,170534

In [115]:
pd.set_option('display.max_rows', 10)
pollution_2

                                region  population  year  pollution
2                             Pakistan   231402117  2018       74.3
3                              Bahrain     1463265  2018       59.8
4                           Bangladesh   169356251  2018       97.1
6                               Kuwait     4250114  2018       56.0
7                                India  1407563842  2018       72.5
..                                 ...         ...   ...        ...
650  Bonaire, Saint Eustatius and Saba       26221  2022        3.3
651                            Bermuda       63867  2022        3.0
652                U.S. Virgin Islands      105870  2022        2.9
653                   French Polynesia      304032  2022        2.5
654                               Guam      170534  2022        1.3

[508 rows x 4 columns]

In [117]:
pollution_2 = pd.melt(df, id_vars=['Country/Region', 'Population'], value_vars=['2018', '2019', '2020', '2021', '2022'], var_name='Year', value_name='Pollution')

pd.set_option('display.max_rows', 10)
pollution_2.rename(columns = {"Country/Region": "region", "Population":"population", "Pollution":"pollution", "Year":"year"}, inplace=True)
pollution_2.drop(pollution_2[pollution_2['pollution'] == '-'].index, inplace = True)
pollution_2.dropna()

pollution_2['year'] = pollution_2['year'].astype(int)
pollution_2['pollution'] = pollution_2['pollution'].astype(float)

pollution_2

                                region  population  year  pollution
2                             Pakistan   231402117  2018       74.3
3                              Bahrain     1463265  2018       59.8
4                           Bangladesh   169356251  2018       97.1
6                               Kuwait     4250114  2018       56.0
7                                India  1407563842  2018       72.5
..                                 ...         ...   ...        ...
650  Bonaire, Saint Eustatius and Saba       26221  2022        3.3
651                            Bermuda       63867  2022        3.0
652                U.S. Virgin Islands      105870  2022        2.9
653                   French Polynesia      304032  2022        2.5
654                               Guam      170534  2022        1.3

[508 rows x 4 columns]

In [91]:
df_unpivot.dtypes

Country/Region    object
Population         int64
Year              object
Pollution         object
dtype: object

In [64]:
chargers=pd.read_csv("data/IEA-EV-dataEV charging pointsEVHistorical.csv")
sales=pd.read_csv("data/IEA-EV-dataEV salesCarsHistorical.csv") 
stock=pd.read_csv("data/IEA-EV-dataEV stock shareCarsHistorical.csv") 
deaths=pd.read_csv("data/number-of-deaths-by-risk-factor.csv")

In [118]:
chargers_2= chargers.iloc[:, [0,5, 7]]
chargers_2

        region  year     value
0    Australia  2017      40.0
1    Australia  2017     440.0
2    Australia  2018      61.0
3    Australia  2018     670.0
4    Australia  2019     250.0
..         ...   ...       ...
599        USA  2020   82000.0
600        USA  2021   22000.0
601        USA  2021   92000.0
602        USA  2022   28000.0
603        USA  2022  100000.0

[604 rows x 3 columns]

In [119]:

sales_2= sales.iloc[:, [0,5, 7]]
sales_2

        region  year    value
0    Australia  2011       49
1    Australia  2012      170
2    Australia  2012       80
3    Australia  2013      100
4    Australia  2013      190
..         ...   ...      ...
829      World  2020   970000
830      World  2021  1900000
831      World  2021  4600000
832      World  2022  7300000
833      World  2022  2900000

[834 rows x 3 columns]

In [120]:
stock_2= stock.iloc[:, [0,5, 7]]
stock_2

        region  year    value
0    Australia  2011  0.00046
1    Australia  2012  0.00280
2    Australia  2013  0.00540
3    Australia  2014  0.01700
4    Australia  2015  0.03200
..         ...   ...      ...
438      World  2018  0.45000
439      World  2019  0.60000
440      World  2020  0.83000
441      World  2021  1.30000
442      World  2022  2.10000

[443 rows x 3 columns]

In [86]:
deaths_2= deaths.iloc[:, [0,2, 3]]

In [121]:
deaths_2.rename(columns = {"Entity": "region", "Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number)":"number of deaths by air pollution", "Year":"year"}, inplace=True)
deaths_2

           region  year  number of deaths by air pollution
0     Afghanistan  1990                               3169
1     Afghanistan  1991                               3222
2     Afghanistan  1992                               3395
3     Afghanistan  1993                               3623
4     Afghanistan  1994                               3788
...           ...   ...                                ...
6835     Zimbabwe  2015                               2835
6836     Zimbabwe  2016                               2781
6837     Zimbabwe  2017                               2700
6838     Zimbabwe  2018                               2669
6839     Zimbabwe  2019                               2680

[6840 rows x 3 columns]